/* .global{
    background-color: ;
} */

.expose_div{
    padding: 0px 0px 0px 99px;
    font-weight: bold;
    color: black;
    
}

.balance_div{
    padding: 0px 0px 0px 10px;
    font-weight: bold;
    background: linear-gradient(45deg, #f3ec78, #af4261, #f3ec78);
    -webkit-background-clip: text;
    color: transparent;
}

.fixedElement,.global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    font-size: 13px;
  }

  .cdn{
   display:none;
  }

  .FlexBana{
    direction: flexbox;
  }

  .global {
    flex: 60%;
    padding: 0px 270px 0px 0px;
  }

  .LanguageTab{
    flex:20% ;
    padding: 0px 0px 0px 90px;
  }

  .LanguageSelector{
    flex:20%;
}

@media (max-width: 360px) {
  .global {
    flex: 60%;
    padding: 0px 70px 0px 0px;
    
  }
  .d-lg-none{
      width:30%;
  }
  .LanguageTab{
    flex:20% ;
    padding: 0px 0px 0px 0px;
  }

  .LanguageSelector{
    flex:20%;
}
}