/* LoadingScreen.css */
/* 
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #274956;
  }
  
  .loading-text {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    animation: shine 2s infinite;
  }
  
  @keyframes shine {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
   */

   /* FlyingLettersScreen.css */

/* .flying-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #274956 fly;
    overflow: hidden;
    padding : 0px 0px 500px 0px;
  }
  
  .flying-letter {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    opacity: 0;
    transform: translateY(100px);
    animation: fly 5s forwards;
  }
  
  @keyframes fly {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }

        0% { opacity: 0; transform: translateY(-10px); }
        50% { opacity: 1; transform: translateY(5px); }
        100% { opacity: 0; transform: translateY(-10px); }
    
    
    
  }
   */

   .flying-container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .flying-letter {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    animation: fly-in 0.5s forwards ease-in-out;
  }
  
  @keyframes fly-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .loader-container {
    position: fixed; /* Full screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: rgba(255, 255, 255, 0.7); /* Optional: to dim the background */
    z-index: 9999; /* To make sure it's above other content */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  