.App-header {
  text-align: center;
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.match-list {
  list-style-type: none;
  padding: 0;
}

.match-item {
  margin: 10px 0;
}

.match-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1e3c50;
}

.match-item a:hover {
  background-color: #f0f0f0;
  color: black;
}

.match-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-name {
  font-weight: bold;
  font-size: 80%;
  flex: 40%;
}

.score {
  font-size: 0.9em;
  color: #555;
}

.vs {
  margin: 0 10px;
  font-weight: bold;
  flex:10%;
}