.MatchPage{
  margin:5px;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #2343aa; /* Blue-600 */
  color: white;
}

.app-header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.app-header p {
  font-size: 1.125rem;
}
.match-list {
  list-style-type: none;
  padding: 0;
  
}

.match-listing{
  display:flex;
}
 
.depo{
  flex:50%;
  display: block;
  padding:10px;
  padding-left:100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:hsl(116, 94%, 30%);
}


.withdraw{
  flex:50%;
  padding-left:100px;
  text-decoration: none;
  color: inherit;
  display: block;
  padding:10px;
  padding-left:100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d01313;
}


.match-item {
  margin: 10px 0;
}

.match-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1e3c50;
}


.match-item a:hover {
  background-color: #191f4a;
  color: black;
}

.match-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-name {
  font-weight: bold;
  font-size: 80%;
  flex: 40%;
}

.score {
  font-size: 0.9em;
  color: #555;
}

.vs {
  margin: 0 10px;
  font-weight: bold;
  flex:10%;
}

