/* MatchPage.css */

/* MatchPage.css */

body, html {
  font-family: 'Helvetica', sans-serif;
}

.live-score-container {
  font-family: 'Helvetica', sans-serif;
}

.odds-container, .odds-tile {
  font-family: 'Helvetica', sans-serif;
}

/* Add more specific classes as needed */
.bottom-sheet, .rate, .stake, .bidding-message, .order-message {
  font-family: 'Helvetica', sans-serif;
}


.Matchsummary{
  background-color: black;
  width:100%;
  height: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  padding-left: calc(var(--bs-gutter-x)* 0.5);
  margin: -24px -2px 0px -24px;


}

.active {
  font-family: 'Helvetica', 'Roboto', sans-serif;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.match-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.Allstats{
  padding: 0px 0px 0px 0px;
}

.matches-page {
  max-width: 600px;
  display: flex;
  margin: 0;
  padding: 2px 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.match-page h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.match-page p {
  font-size: 18px;
  margin: 5px 0;
}

.match-page a {
  color: #007bff;
  text-decoration: none;
}

.match-page a:hover {
  text-decoration: underline;
}

.horizontal-box {
  padding: 5px 50px;
  margin: 5px;
  border: 1px solid black;
  white-space: nowrap; 
}

.spans {
  padding: 5px;
  margin: 5px;
}

.box-item {
  margin: 10px;
  border: 2px solid black;
  padding: 5px 15px;
}

.ratio-2 {
  flex-grow: 2;
}

.ratio-5 {
  flex-grow: 5;
}

/* Live Score Container */
.live-score-container {
  background-image: url('./assets/images/bg/wicket_bg.png');
  color: #fff;
  background-position: 60%;
  background-size: cover;
  height:80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* Adjust padding as needed */
}

.team {
  flex: 0 0 37.5%;
  /* max-width: 25%; */
  /* min-width:190px; */
  text-align: center;
  padding:0 10px; /* Adjust padding as needed */
}

.match-status {
  flex: 0 0 25%;
  /* max-width: 50%; */
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0px;
  padding: 4px 0;
  position: relative;
}

.status-text {
  font-size: 10px;
  animation: txt 3s ease-out infinite;
}

.no-list-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Add keyframes for animation */
@keyframes txt {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.maxBetDeclaration{
  display:flex;
  margin:20px 0px 0px 0px;
  padding: 9px 12px;
  max-width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 900;
  background-color: #0077ff94;
}

.outcome{
  flex:60%;
}

.maxBet{
  flex: 25%;
}

/* Odds Tile Styles */
.odds-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
  gap: 10px; /* Space between the tiles */
  margin-top: 20px;
  margin-left:5px;
  justify-content: center;
}
.bottom-sheet {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 110%;
  background-color: #4169E1; /* Matching background color */
  color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0);
  padding: 0px;
  display: none;
  flex-direction: column;
  align-items: center;
}


.odds-tile {
  width: 100%; /* Make tiles take full width of the grid cell */
  height: 40px; /* Adjust the height as needed */
  background-color: #4169E1; /* Matching color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  text-align: center;
  padding: 10px; /* Adjust padding for better text fit */
}

.odds-tile:hover {
  background-color: #FFA500; /* Orange on hover */
}

.topContent{
  display: flex;
  height: 25%;
  width:100%;
  background-color: #444444;
}

.topContentLeft{
  flex: 40%;
  margin: 23px 10px 10px 10px;
  padding: 0px; 
  font-size: 16px;
}
.topContentRight{
  flex: 40%;
  margin: -5px -83px 0px 0px;
  padding: 0px; 
  max-height:100%;
  width:45%;
}
.topContentRight button{
  width:60%;
  height: 100%;
  font-size: 29px;
  border-radius: 0px;
  border-color: transparent;
}

/* Bottom Sheet Styles */
.bottom-sheet.active {
  display: flex;
  height:300px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.bidding-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bidding-container input {
  width: 100px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  margin: 0 10px;
}

.bidding-container button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}

.bidding-container button:hover {
  background-color: orange;
}

.expected-money {
  margin-left: 10px;
  font-size: 16px;
  color: #fff; /* Adjust text color */
}

/* Message Styles */
.aukaat-message {
  color: white; /* Adjusted default color */
  margin-top: 10px;
  font-weight: bold;
}

.aukaat-message.warning {
  color: red; /* Color when amount exceeds userMoney */
}

/* Loader Styles */
.placeOrder {
  margin: 13px 0px;
  border-radius: 0%;
  width: 60%;
  height: 15%;
}
.placeOrder button{
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey */
  border-left: 4px solid #3498db; /* Blue */
  border-radius: 0%;
  width: 60%;
  height: 40%;
  animation: spin 1s linear infinite;
  margin: 20px 0;
}

/* Animation for loader */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Order Button Fade Out */
.place-order {
  transition: opacity 0.3s ease;
}

.place-order.hidden {
  opacity: 0;
}

.blink {
  animation: blink-animation 0.2s;
}

@keyframes blink-animation {
  0% {
    background-color: pink;
  }
  100% {
    background-color: white;
  }
}
.betting-form {
    background-color: #d3e8f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 350px;
    margin: auto;
  }
  
  .header {
    background-color: #2e3340;
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .rates {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .rate-option {
    background-color: #4f72c1;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
  }
  
  .rate-option.secondary {
    background-color: #6b85db;
  }
  
  .rate-option.tertiary {
    background-color: #e58d8d;
  }
  
  .rate-stake-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 80%;
  }
  
  .rate, .stake {
    width: 100%;
    margin: -10px 0px 0px 60px;
  }
  @media (max-width: 480px) {
    .bottom-sheet {
      position: fixed;
      left: 0;
      bottom: 0;
      max-width: 100%;
      height:0%;
      background-color: #0d0e10; /* Matching background color */
      color: white;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0);
      padding: 0px;
      display: none;
      flex-direction: column;
      align-items: center;
    }
    .rate-stake-section {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-height: 80%;
    }
    
    .rate, .stake {
      width: 100%;
      margin: -10px 0px 0px 30px;
    }.input-group button {
      width: 30px;
      height: 0px;
      font-size: 18px;
      font-weight: bold;
      background-color: #6d6868;
      border: 1px solid #b6b3b3;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .label {
    font-weight: bold;
    font-size: 16px;
    margin: 0px 0px 0px 30px;
    max-height: 30%;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-top: 1px;
  }
  
  .input-group button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff0000;
    border: 1px solid #b6b3b3;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-group input {
    width: 60px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0px;
    font-size: 16px;
  }
  
  .rate-options button, .stake-options button {
    background-color: rgb(200, 0, 0);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #4f72c1;
    width: 100%;
  }
  
  .cancel-button, .place-bet-button {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    margin-top:10px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: white;
    color: #4f72c1;
    border: 1px solid #ccc;
  }
  
  .place-bet-button {
    background-color: #4f72c1;
    color: white;
  }
  
  .min-max {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
  }
  
  

  .container {
    position: relative;
    width: 360px;
    height: 740px;
  }
  
  /* Rectangle 1 */
  .rectangle-1 {
    position: absolute;
    width: 360px;
    height: 740px;
    background: #D9D9D9;
  }
  
  /* Rectangle 2 */
  .rectangle-2 {
    position: absolute;
    width: 360px;
    height: 299px;
    background: #130A7D;
  }
  
  /* Section 1 */
  .section-1 {
    box-sizing: border-box;
    position: relative;
    width: 360px;
    height: 59px;
    background: #444444;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
  
  /* Section 2 */
  .section-2 {
    box-sizing: border-box;
    position: relative;
    width: 258px;
    height: 59px;
    background: #444444;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
  
  /* Section 3 */
  .section-3 {
    box-sizing: border-box;
    position: relative;
    width: 99px;
    height: 59px;
    background: #444444;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
  
  /* Section 4 */
  .section-4 {
    box-sizing: border-box;
    position: relative;
    width: 360px;
    height: 91px;
    background: #0EAFE2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
  
  /* Section 5 */
  .section-5 {
    box-sizing: border-box;
    position: relative;
    width: 360px;
    height: 60px;
    background: #444444;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
  
  /* Section 6 */
  .section-6 {
    box-sizing: border-box;
    position: relative;
    width: 323px;
    height: 52px;
    background: #444444;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
  
  /* Section 7 */
  .section-7 {
    box-sizing: border-box;
    position: relative;
    width: 149px;
    height: 30px;
    left: 18px;
    top: 17px;
    background: #EEDADA;
    border: 1px solid rgba(200, 164, 164, 0.29);
    border-radius: 2px;
  }
  
  /* Section 8 */
  .section-8 {
    box-sizing: border-box;
    position: relative;
    width: 141px;
    height: 29px;
    left: 180px;
    top: 18px;
    background: #E62929;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
  

/* Responsive Styles */
@media (max-width: 1200px) {
  .odds-container {
    grid-template-columns: repeat(2, 1fr); /* Maintain 4 columns */
  }
}

@media (max-width: 900px) {
  .odds-container {
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
  }
}

@media (max-width: 600px) {
  .odds-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }

  .live-score-container {
   
    height: auto;
    display: flex;
  }

  .match-status {
    max-width: 40%;
    text-align: left;
    font-size: 10px;
    
  }
  .status-text {
    font-family: Tahoma, sans-serif;
    font-size: 8px;
    animation: txt 3s ease-out infinite;
  }

  .team{
    max-width: 25%;
    font-size: 14px;
  }

  .match-status {
    margin-top: 10px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .odds-container {
    grid-template-columns: repeat(2,1fr); /* 1 column */
    
  }
  
  .odds-tile {
    font-size: 12px; /* Smaller text for small screens */
    height: 40px; /* Adjust height */
    width:95%;
    display: flex;
    padding :5px 5px;
  }
  .live-score-container{
    width: 100%;
    padding: 0px ;
  }

  .Allstats{
    width: 100%;
    padding: -10px -10px -10px -10px;
  }
  .bottom-sheet{
    width: 93%;
  }
}


